@model MapaCurricularCarlosValdez.Models.ViewModels.ReticulaViewModel
@{
    ViewData["Title"] = "Reticula";
    Layout = "Layout";
}

<h1>
    <a class="btn" href="javascript: history.back()">&#x25c0; Regresar</a>
    @Model.Carrera
</h1>

<h2>@Model.Plan</h2>
<h2>Total de creditos: @Model.CreditosTotales</h2>
<section class="reticula">
    <table>
        <thead>
            <tr>
                <th>1 semestre</th>
                <th>2 semestre</th>
                <th>3 semestre</th>
                <th>4 semestre</th>
                <th>5 semestre</th>
                <th>6 semestre</th>
                <th>7 semestre</th>
                <th>8 semestre</th>
                <th>9 semestre</th>
            </tr>
        </thead>
        <tr>
            @for (int i = 0; i < 9; i++)
            {
                <td>
                    @if (Model.Semestres[i] != null)
                    {
                        @foreach (var m in Model.Semestres[i])
                        {
                            <div class="materia">
                                <span class="clave">@m.Clave.ToUpper()</span>
                                <span class="nombre">@m.Nombre</span>
                                <span class="tpc">@(m.HorasTeoricas)-@(m.HorasPracticas)-@(m.Creditos)</span>
                            </div>
                        }
                    }
                </td>
            }
        </tr>
    </table>
</section>
